<!-- inject:head:mustache -->
  
<!-- endinject -->

{{> ../../components/header/header }}
<div>
  <h1 class="title">Example Page</h1>
  {{> ../../components/card/card }}
  {{> ../../components/banner/banner }}
</div>
