
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../../css/main.css" />
    <script type="module" src="../../../staticflow/main.js"></script>
    <script async type="module" src="../../js/main.js"></script>
  </head>


<div data-module="card" class="c-card">
  <p class="c-card__title">Title</p>
  <p class="c-card__description">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit voluptas fugit nesciunt quas architecto quo quae illum
    ipsam nam eveniet!!!
  </p>
  <button class='c-button'>YOYOYO</button>
</div>
