<!-- inject:head:mustache -->
  
<!-- endinject -->

<div class="l-container">
  {{> ../../components/banner/banner }}
  <h1 class="title">Welcome to Static Flow!</h1>
  {{> ../../components/card/card }}
</div>
