@import-glob "resets.css", "variables/**/*.css", "components/**/*.css";

.title {
  font-size: 1.5rem;
  font-weight: bolder;
  margin-bottom: 2rem;
}


.l-container {
  max-width: 70rem;
  padding: 1rem;
  margin: 0 auto;
}
