{{> ../../config/head }}
<div class='c-header'>
    <ul class='c-header__list'>
        <li class='c-header__list-item'>Home</li>
        <li class='c-header__list-item'>About</li>
        <li class='c-header__list-item'>Contact</li>
    </ul>
</div>